# No mostrar contenidos de todos los subdirectorios
Options -Indexes

ErrorDocument /404.php
# Ocultar archivos privados
RewriteEngine On
RewriteRule ^(Gruntfile\.js)$		404.php [L]
RewriteRule ^(package\.json)$		404.php [L]
RewriteRule ^(.gitignore)$			404.php [L]
RewriteRule ^(.git/.*)$				404.php [L]
RewriteRule ^(node_modules/.*)$	404.php [L]

<filesMatch "\.(css|png|js)$">
	<IfModule mod_deflate.c>
	    FileETag None
	</IfModule>
	<IfModule mod_expires.c>
		ExpiresActive On 
		ExpiresDefault "access plus 1 year"
	</IfModule>	
	<IfModule mod_headers.c>
		Header unset ETag
		Header set Pragma "public"
		Header set Cache-Control "public"
		Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
	</IfModule>
</filesMatch>